.footer__links {
  display: inline-flex;
  gap: 32px;
  flex-flow: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 865px) {
  .footer__links {
    flex-flow: column;
  }
}
