.cover__title {
  max-width: 560px;
  margin: 0 0 16px;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
}

@media screen and (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 8px;
    max-width: 288px;
  }
}