.footer {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 865px) {
  .footer {
    gap: 48px;
    align-items: flex-start;
    flex-flow: column;
  }
}
