.footer {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 984px) {
  .footer {
    align-items: flex-start;
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    gap: 25px;
    align-items: center;
    flex-flow: column;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    gap: 48px;
    align-items: flex-start;
    flex-flow: column;
    padding: 64px 118px 24px 16px;
  }
}
